li {
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

li button {
    margin: 10px;
    align-items: end;
    width: 150px;
    background-color: rgb(255, 154, 3);
    border-radius: 5px;
}

ul#todo-list li span {
   margin-left: 10px;
   width: 75%;
   text-align: left;
  }